<ion-app>
    <header>
      <div class="cabecalho">
          <ion-img class="img-logo"src="assets/image/logo.png"alt="Logo"></ion-img>
          <ion-title class="titulo-principal">MedTempo</ion-title>
        </div>
    </header>

    <!-- Página de cadastro -->
    <!-- Por favor estilizem isso -->

    <div class="flex">
    <h1 class="text-tipoCadstro">Selecione seu tipo de cadastro!</h1>
    <ion-icon name="medkit-outline"></ion-icon>
        <input class="input-tipoCadastroTC texto-principalTC" type="button" value="Usuário Pessoal" (click)="usr_type = 1">
    <ion-icon name="people-outline"></ion-icon>
        <input class="input-tipoCadastroTC texto-principalTC" type="button" value="Usuário Especialista" (click)="usr_type = 2">
        <!--ARRUMAR O FAMILHAR PARA FAMILIAR-->
    <ion-icon name="person-outline"></ion-icon>
        <input class="input-tipoCadastroTC texto-principalTC" type="button" value="Usuário Familhar" (click)="usr_type = 3">
    </div>


    <form *ngIf="usr_type == 1" #event="ngForm" (ngSubmit)="Create(event, 'user-pessoal')">
        <p class="tiposperfil">Usuário Pessoal</p>
        <input type="text" ngModel name="nome" placeholder="insira nome" required>
        <input type="text" ngModel name="sobrenome" placeholder="insira sobrenome" required>
    
        <select ngModel name="sexo" required>
            <option selected disabled value="">Insira seu Sexo</option>
            <option [value]="true">Feminino</option>
            <option [value]="false">Masculino</option>
        </select>
    
        <input type="email" ngModel name="email" placeholder="insira email" required>
        <input type="password" ngModel name="senha" placeholder="insira senha" required />
    
        <input type="date" ngModel name="data_nascimento" placeholder="insira data de nascimento"
        required>
    
    
    <textarea ngModel name="descricao" placeholder="insira descricao" required cols="30"
        rows="10"></textarea>
    
        <input type="submit" value="cadastrar usuário">
    </form>


    <form *ngIf="usr_type == 2" #event="ngForm" (ngSubmit)="Create(event, 'user-especialista')">
        <p>Usuário Especialista</p>
        <input type="text" ngModel name="nome" placeholder="insira nome" required>
        <input type="text" ngModel name="sobrenome" placeholder="insira sobrenome" required>
    
        <select ngModel name="sexo" required>
            <option selected disabled value="">Insira seu Sexo</option>
            <option [value]="true">Feminino</option>
            <option [value]="false">Masculino</option>
        </select>

        <input type="text" ngModel name="crm" placeholder="insira crm" required>
        <input type="text" ngModel name="local_trabalho" placeholder="insira local de trabalho" required>
    
        <input type="email" ngModel name="email" placeholder="insira email" required>
        <input type="password" ngModel name="senha" placeholder="insira senha" required />
    
        <input type="date" ngModel name="data_nascimento" placeholder="insira data de nascimento"
        required>
        <input type="submit" value="cadastrar usuário">
    </form>


    <form *ngIf="usr_type == 3" #event="ngForm" (ngSubmit)="Create(event, 'user-familhar')">
        <p>Usuário Familiar</p>
        <input type="text" ngModel name="nome" placeholder="insira nome" required>
        <input type="text" ngModel name="sobrenome" placeholder="insira sobrenome" required>
    
        <select ngModel name="sexo" required>
            <option selected disabled value="">Insira seu Sexo</option>
            <option [value]="true">Feminino</option>
            <option [value]="false">Masculino</option>
        </select>

        <input type="text" ngModel name="local_trabalho" placeholder="insira local de trabalho" required>
    
        <input type="email" ngModel name="email" placeholder="insira email" required>
        <input type="password" ngModel name="senha" placeholder="insira senha" required />
    
        <input type="date" ngModel name="data_nascimento" placeholder="insira data de nascimento"
        required>
        <input  type="submit" value="cadastrar usuário">
    </form>
    
    
    <!-- Fim da página de Cadastro -->
    
    
    <div *ngFor="let user of usuarios; index as i">
    
        {{ i }}
    
        <h5>Id: {{ user.id }}</h5>
        <h1>Nome: {{ user.nome }}</h1>
        <!--<p>Idade: {{ user.idade }}</p>-->
    
        <p>Sexo: {{ user.sexo === true ? "Feminino" : "Masculino" }}</p>
    
        <p>Email: {{ user.email }}</p>
        <p>Senha Hash: {{ user.hash_senha }}</p>
    
        <p>Data de Nascimento: {{ user.data_nascimento }}</p>
        <p>Data de Criacao: {{ user.data_criacao }}</p>
    
        <p>Descriacao: {{ user.descricao }}</p>
    
        <input [value]="'Delete' + user.nome" type="button" (click)="Delete(user.id)">
    
        <hr>
    
    </div>
</ion-app>