@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@800&display=swap');

ion-app{
  margin: 0%;
}

.flex{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

h1{
  display: flex;
  justify-content: center;
  font-family: 'Plus Jakarta Sans';
  font-size: 20px;
  margin: 25px;
  color: #2D516C;
}

.subtitulo{
  font-size: 15px;
  font-family: 'Plus Jakarta Sans';
}

.usuario{
  margin-top: 7px;
  border-width: medium;
  border-radius: 10px;
  border-style: solid;
  border-color: #2D516C;
  background-color: #fff;
}

.saiba-mais{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  font-size: 14px;
  letter-spacing: 0.5px
}

p{
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}




