<ion-app>
    <!-- NÃO SERÁ NECESSÁRIO O CALENDÁRIO QUANDO O CADASTRO FOR ADICIONADO COMO COMPONENTE EM LOGIN-->
    
    <!--
    <header>
          <ion-img class="img-logo"src="assets/image/logo.png"alt="Logo"></ion-img>
          <ion-title class="titulo">MedTempo</ion-title>
        
    </header>
    -->

    <!--<div class="flex">
        <div>
            <h1>Faça seu cadastro:</h1>
            <ion-label>
                <h3 class="subtitulo">Selecione o tipo do seu perfil:</h3>
            </ion-label>
        </div>
         Alterei de "usuário" para perfil 
         Alterei os tipos de botão para inserir os ícones 

        <div class="tipos-perfil">
            <ion-button class="usuario" fill="outline" (click)="usr_type = 1">
                <ion-icon name="person-outline" color="warning"></ion-icon>
                Perfil Pessoal
            </ion-button>
            <ion-button class="usuario" fill="outline" (click)="usr_type = 2">
                <ion-icon name="bag-add-outline" color="warning"></ion-icon>
                Perfil Especialista
            </ion-button>
            <ion-button class="usuario" fill="outline" (click)="usr_type = 3">
                <ion-icon name="people-outline" color="warning"></ion-icon>
                Perfil Familiar
            </ion-button>

            <a href="/" class="saiba-mais">Conheças as diferenças dos tipos de perfil</a>
        </div>
    </div>-->

    <div *ngIf="usr_type == 1">
        <app-cadastro-p></app-cadastro-p>
    </div>


    <form *ngIf="usr_type == 2" #event="ngForm" (ngSubmit)="Create(event, 'user-especialista')">
        <app-cadastro-e></app-cadastro-e>
    </form>


    <form *ngIf="usr_type == 3" #event="ngForm" (ngSubmit)="Create(event, 'user-familhar')">
        <app-cadastro-f></app-cadastro-f>
    </form>
    
    
    <!-- Fim da página de Cadastro -->
    
    
    <div *ngFor="let user of usuarios; index as i">
    
        {{ i }}
    
        <h5>Id: {{ user.id }}</h5>
        <h1>Nome: {{ user.nome }}</h1>
        <!--<p>Idade: {{ user.idade }}</p>-->
    
        <p>Sexo: {{ user.sexo === true ? "Feminino" : "Masculino" }}</p>
    
        <p>Email: {{ user.email }}</p>
        <p>Senha Hash: {{ user.hash_senha }}</p>
    
        <p>Data de Nascimento: {{ user.data_nascimento }}</p>
        <p>Data de Criacao: {{ user.data_criacao }}</p>
    
        <p>Descriacao: {{ user.descricao }}</p>
    
        <input [value]="'Delete' + user.nome" type="button" (click)="Delete(user.id)">
    
        <hr>
    
    </div>
</ion-app>