/* 
    Copyright © 2023 Felipe Chiozzotto Gozzani, Heloísa Real, Juliana Barbosa Sandes, Mateus Felipe da Silveira Vieira, Thiago Babtista da Silva Soares 


    MedTempo-Frontend is free software: you can redistribute it and/or modify 
    it under the terms of the GNU Affero General Public License as published by 
    the Free Software Foundation, either version 3 of the License, or 
    (at your option) any later version. 

    MedTempo-Frontend is distributed in the hope that it will be useful, 
    but WITHOUT ANY WARRANTY; without even the implied warranty of 
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
    GNU Affero General Public License for more details. 

    You should have received a copy of the GNU Affero General Public License 
    along with MedTempo-Frontend.  If not, see <https://www.gnu.org/licenses/>5.
*/ 

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.clock-container {
  display: flex;
  width: 250px;
  height: 250px;
  background-color: #ffffff;
  border-radius: 50%;
  border-style: solid;
  border-color: #4882AD;
  border-width: 8px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  flex-direction: column;
  margin: auto;
  margin: 0%;
}

.clock-red {
  border-color: red !important;
}

.clock-text {
  font-family: 'Roboto';
  text-align: center;
  font-size: 50px;
  margin-top: 3px;
}

.titulo{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 17px;
  margin: 0px 3px 5px 0px;
  font-weight: medium;
  font-family: 'Roboto';
}

.subtitulo{
  font-family: 'Roboto';
  font-size: 18px;
  color: #000000;
  margin: 0%;
  margin-top: 10px;
  font-weight: bold;
}