<!-- 
    Copyright © 2023 Felipe Chiozzotto Gozzani, Heloísa Real, Juliana Barbosa Sandes, Mateus Felipe da Silveira Vieira, Thiago Babtista da Silva Soares 


    MedTempo-Frontend is free software: you can redistribute it and/or modify 
    it under the terms of the GNU Affero General Public License as published by 
    the Free Software Foundation, either version 3 of the License, or 
    (at your option) any later version. 

    MedTempo-Frontend is distributed in the hope that it will be useful, 
    but WITHOUT ANY WARRANTY; without even the implied warranty of 
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
    GNU Affero General Public License for more details. 

    You should have received a copy of the GNU Affero General Public License 
    along with MedTempo-Frontend.  If not, see <https://www.gnu.org/licenses/>5.
--> 

<div>
  <h1 class="titulo ion-text-center ion-margin">Próximo Remédio em:</h1>  

  <div [class]="'clock-container ' + (is_delayed == true ? 'clock-red' : '')">
    <div class="clock-text">{{ currentTime }}</div>
    <h2 class="subtitulo">{{ nextnome }}</h2>


  </div>

  <p *ngIf="is_delayed == true">O medicamento está atrasado</p>

</div>
