/* 
    Copyright © 2023 Felipe Chiozzotto Gozzani, Heloísa Real, Juliana Barbosa Sandes, Mateus Felipe da Silveira Vieira, Thiago Babtista da Silva Soares 


    MedTempo-Frontend is free software: you can redistribute it and/or modify 
    it under the terms of the GNU Affero General Public License as published by 
    the Free Software Foundation, either version 3 of the License, or 
    (at your option) any later version. 

    MedTempo-Frontend is distributed in the hope that it will be useful, 
    but WITHOUT ANY WARRANTY; without even the implied warranty of 
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
    GNU Affero General Public License for more details. 

    You should have received a copy of the GNU Affero General Public License 
    along with MedTempo-Frontend.  If not, see <https://www.gnu.org/licenses/>5.
*/ 

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

h2, h3, p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

img {
    border-radius: 100%;
    max-width: 80px;
    max-height: 80px;
}

ion-content {
    padding: 5px;
}

.inicio {
    display: flex;
    align-items: center;
}

.nomeuser {
    font-size: 18px;
    margin-left: 5px;
}

.caracteristicas {
    font-size: 15px;
    margin-left: 5px;
}

h1 {
    color: #2D516C;
    font-weight: 600;
}
