<!-- 
    Copyright © 2023 Felipe Chiozzotto Gozzani, Heloísa Real, Juliana Barbosa Sandes, Mateus Felipe da Silveira Vieira, Thiago Babtista da Silva Soares 


    MedTempo-Frontend is free software: you can redistribute it and/or modify 
    it under the terms of the GNU Affero General Public License as published by 
    the Free Software Foundation, either version 3 of the License, or 
    (at your option) any later version. 

    MedTempo-Frontend is distributed in the hope that it will be useful, 
    but WITHOUT ANY WARRANTY; without even the implied warranty of 
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
    GNU Affero General Public License for more details. 

    You should have received a copy of the GNU Affero General Public License 
    along with MedTempo-Frontend.  If not, see <https://www.gnu.org/licenses/>5.
--> 

<div class="flex">
    <!-- Alterei de "usuário" para perfil -->
    <!-- Alterei os tipos de botão para inserir os ícones -->

    <div class="tipos-perfil">
        <ion-button [routerLink]="['/cadastro']" [queryParams]="{usr_type: 1}" class="usuario" fill="outline" >
            <ion-icon name="person-outline" color="warning"></ion-icon>
            Perfil Pessoal
        </ion-button>
        <ion-button class="usuario"  [routerLink]="['/cadastro']" [queryParams]="{usr_type: 2}" fill="outline">
            <ion-icon name="bag-add-outline" color="warning"></ion-icon>
            Perfil Especialista
        </ion-button>
        <ion-button class="usuario" fill="outline"  [routerLink]="['/cadastro']" [queryParams]="{usr_type: 3}">
            <ion-icon name="people-outline" color="warning"></ion-icon>
            Perfil Familiar
        </ion-button>

        <a href="/" class="saiba-mais">Conheça as diferenças dos tipos de perfil</a>
    </div>
</div>