@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.users{
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

form{
    font-family: 'Roboto', sans-serif;
}

ion-item{
    margin-top: 10px;
}