<ion-app>
  <header>
    <div class="cabecalho">
        <ion-img class="img-logo"src="assets/image/logo.png"alt="Logo"></ion-img>
        <ion-title class="titulo-principal">MedTempo</ion-title>
      </div>
  </header>


  <ion-content [fullscreen]="true">
    <ion-segment [(ngModel)]="selectTabs">
      <ion-segment-button value="recent">
        <ion-label>Título 1</ion-label>
      </ion-segment-button>

      <ion-segment-button value="missed">
        <ion-label>Título 2</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div *ngIf="selectTabs =='recent'"> <!-- Div do conteúdo entrar -->
      <h3>Conteúdo 1</h3>
      

      <form #event="ngForm" (ngSubmit)="Login(event)">

        <h1 class="text-tipo">Selecione o tipo de login:</h1>
        <select ngModel name="user_type" required>
          <option selected [value]="1">Usuario Pessoal</option>
          <option [value]="2">Médico</option>
          <option [value]="3">Família</option>
        </select>
      
        <ion-input class="input-entrar"
            name="email"
            type="email"
            label="Email:" 
            label-placement="floating"
            placeholder="Insira o email"
            color="medium"
            ngModel
            required
        ></ion-input>
      
        <ion-input class="input-senha"
          type="password"
          name="senha"
          label="Senha:" 
          label-placement="floating" 
          placeholder="Insira a senha"
          color="medium"
          ngModel
          required
        />

      </form> 
    </div>

    <div *ngIf="selectTabs =='missed'">
      <h3>Conteúdo 2</h3>

      
    </div>

  </ion-content>




</ion-app>
