@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@800&display=swap');


ion-segment-button::part(indicator-background) {
  background: #FFC859;
}

ion-segment-button.md::part(native) {
  color: #000;
  font-family: 'Plus Jakarta Sans';
  margin-top: 40px;
}

ion-app{
  margin: 0%;
}

header{
  margin: 0 auto;
}

.subtitulo{
  font-size: 14px;
  font-family: 'Plus Jakarta Sans';
  text-align: center;
}

:host(.segment-button-checked){
  color: black;
}

.img-logo{
  margin-top: 30px;
  height: 7rem;
  width: 10rem;
  align-items: center;
}

.titulo-principal{
  margin-top: 10px;
  text-align: center;
  color: #2D516C;
  font-weight: bold;
  font-size: 25px;
  font-family: 'Plus Jakarta Sans';
}


.input-entrar{
  margin-left: 15px;
  font-family: 'Roboto';
  color: black;
  font-size: 15px;
}

.input-senha{
  margin-left: 15px;
  font-family: 'Roboto';
  color: black;
  font-size: 15px;
}

.text-tipo{
  font-size: 15px;
}

.button-entrar{
  color: #fff;
  background-color: #2D516C;
  width: 100%;
  height: 20%;
  font-family: 'Plus Jakarta Sans';
  align-items: center;
}

.button-esqueceu{
  color: black;
  font-weight: bold;
  font-family: 'Plus Jakarta Sans';
  font-size: 10px;
}


