<!-- 
    Copyright © 2023 Felipe Chiozzotto Gozzani, Heloísa Real, Juliana Barbosa Sandes, Mateus Felipe da Silveira Vieira, Thiago Babtista da Silva Soares 


    MedTempo-Frontend is free software: you can redistribute it and/or modify 
    it under the terms of the GNU Affero General Public License as published by 
    the Free Software Foundation, either version 3 of the License, or 
    (at your option) any later version. 

    MedTempo-Frontend is distributed in the hope that it will be useful, 
    but WITHOUT ANY WARRANTY; without even the implied warranty of 
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
    GNU Affero General Public License for more details. 

    You should have received a copy of the GNU Affero General Public License 
    along with MedTempo-Frontend.  If not, see <https://www.gnu.org/licenses/>5.
--> 

<ion-content>
    <mdt-navbar></mdt-navbar>

    <div class="calendar">
      <ion-datetime locale="en-GB-u-hc-h12"></ion-datetime>
    </div>

    <ion-item></ion-item>

  <h1 class="titulo">Medicamentos do dia</h1>
        <h3 class="paragrafo">{{ arr_medicamentos[0].horario }}</h3>
  
        <div *ngIf="arr_medicamentos.length != 0" class="flex">
          <ion-card *ngFor="let med of arr_medicamentos; index as i">
            <ion-card-header>
                {{ i }}
              <ion-card-title class="cardTitulo">{{ med.nome }}</ion-card-title>
              <!-- Aqui tem que ficar só o horario e o dia da semana do remédio -->
              <ion-card-subtitle class="cardHorário ion-text-center">{{ med.horario }}</ion-card-subtitle>

            </ion-card-header>

            <ion-label class="cardSub">{{ med.dosagem }}</ion-label>
          </ion-card>

          </div>
  </ion-content>