<div>
    <p class="users">Usuário Familiar</p>

    <div class="config-perfil">

        <ion-item>
            <ion-input
            label="Nome completo:"
            type="text"
            class="campos"
            labelPlacement="stacked"
            [clearInput]="true"
            placeholder="Ex: Ricardo Campos"
            name="nome"
            required
            >
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-select name="sexo" label-placement="floating" label="Selecione seu Sexo:" required>
                <ion-select-option [value]="true">Feminino</ion-select-option>
                <ion-select-option >Masculino</ion-select-option>
            </ion-select>
        </ion-item>

    
        <ion-item>
            <ion-input
                type="email"
                fill="stacked"
                label="Email"
                name="email"
                labelPlacement="stacked"
                placeholder="Ex: exemplo@exemplo.com"
                ngModel
                required
            ></ion-input>
        </ion-item>
    
        <ion-item>
            <ion-input
                type="password"
                fill="stacked"
                label="Insira sua senha"
                labelPlacement="stacked"
                value="password"
                required
                ngModel
            ></ion-input>
            <!-- Seria legal um validador dessa senha para ver se corresponde ao requisitos -->
        </ion-item>

        <div>
            <p class="data">Selecione sua data de nascimento:</p>
        </div>
        <ion-item>
            <input type="date" class="data" name="data_nascimento" placeholder="insira data de nascimento"
            required>
            <ion-label class="label-idade">XX Anos</ion-label>
        </ion-item>
        
        <div>
            <ion-item>
                <ion-textarea label="Descreva a finalidade do aplicativo para você:" rows="2" labelPlacement="floating" placeholder="Ex: Utilizarei essa aplicação para a monitorização das medicações de meus pais."></ion-textarea>
            </ion-item>
        </div>

        <div class="botao">
            <!-- Alterei o tipo de botão, ficar atento ao type -->
            <input type="submit" value="Cadastrar Usuário" class="button-cadastrar">
        </div>

    </div>

</div>