<form #event="ngForm" (ngSubmit)="Create(event, 'user-familiar')">

    <div>
        <p class="users">Usuário Familiar</p>

        <div class="config-perfil">

            <ion-item>
                <ion-input ngModel label="Nome:" type="text" class="campos" labelPlacement="stacked"
                    [clearInput]="true" placeholder="Ex: Ricardo" name="nome" required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-input ngModel label="Sobrenome:" type="text" class="campos" labelPlacement="stacked"
                    [clearInput]="true" placeholder="Ex: Campos" name="sobrenome" required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-select ngModel name="sexo" label-placement="floating" label="Selecione seu Sexo:" required>
                    <ion-select-option [value]="true">Feminino</ion-select-option>
                    <ion-select-option [value]="false">Masculino</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-input type="text" fill="stacked" label="Insira seu local de trabalho:" labelPlacement="stacked"
                    placeholder="SP - Rua São Camilo - Ipiranga" name="local_trabalho" ngModel
                    required></ion-input>
            </ion-item>

            <ion-item>
                <ion-input type="email" fill="stacked" label="Email" name="email" labelPlacement="stacked"
                    placeholder="Ex: exemplo@exemplo.com" ngModel required></ion-input>
            </ion-item>

            <ion-item>
                <ion-input type="password" fill="stacked" label="Insira sua senha" labelPlacement="stacked"
                    value="password" required ngModel name="senha"></ion-input>
                <!-- Seria legal um validador dessa senha para ver se corresponde ao requisitos -->
            </ion-item>

            <div>
                <p class="data">Selecione sua data de nascimento:</p>
            </div>
            <ion-item>
                <input ngModel type="date" class="data" name="data_nascimento" placeholder="insira data de nascimento" required>
                <ion-label class="label-idade">XX Anos</ion-label>
            </ion-item>

            <!-- Acho que isso tbm n foi implementado no bakc
                <div>
                <ion-item>
                    <ion-textarea label="Descreva a finalidade do aplicativo para você:" rows="2"
                        labelPlacement="floating"
                        placeholder="Ex: Utilizarei essa aplicação para a monitorização das medicações de meus pais."></ion-textarea>
                </ion-item>
            </div>
        -->

            <div class="botao">
                <!-- Alterei o tipo de botão, ficar atento ao type -->
                <input type="submit" value="Cadastrar Usuário" class="button-cadastrar">
            </div>

        </div>

    </div>
</form>